{% extends 'base.html.twig' %}

{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Création d'un article ! </h1>
    {{ form_start(formArticle) }}

    {{ form_row(formArticle.title,{'attr': {'placholder': "Titre de l'article"}} ) }}
    {{ form_row(formArticle.content,{'attr': {'placholder': "Contenu de l'article"}} ) }}
    {{ form_row(formArticle.image,{'attr': {'placholder': "URL de l'image"}} ) }}
    <button type="submit" class="btn btn-sucess">Ajouter l'article</button>
    {{ form_end(formArticle) }}

{% endblock %}