{% extends 'base.html.twig' %}
{% block body %}

    <h1>Création d'un article ! </h1>
    {{ form_start(formArticle) }}

<<<<<<< HEAD
<<<<<<< HEAD
    {{ form_row(formArticle.title,{'attr': {'placholder': "Titre de l'article"}} ) }}
    {{ form_row(formArticle.content,{'attr': {'placholder': "Contenu de l'article"}} ) }}
    {{ form_row(formArticle.image,{'attr': {'placholder': "URL de l'image"}} ) }}
    
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications 
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>
=======
=======
>>>>>>> parent of d59c61c...  video 2 40min avant bug
    <div class="form-group">
        <label for="">Titre</label>
        {{ form_widget(formArticle.title) }}
    </div>
    <div class="form-group">
        <label for="">Contenu</label>
        {{ form_widget(formArticle.content) }}
    </div>
<<<<<<< HEAD
>>>>>>> parent of d59c61c...  video 2 40min avant bug
=======
>>>>>>> parent of d59c61c...  video 2 40min avant bug
    {{ form_end(formArticle) }}

{% endblock %}