{% extends 'base.html.twig' %}


{% block body %}

<article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y')}} à {{article.createdAt | date('H:i')}} 
            dans la catégorie {{ article.category.title}}</div>
            <div class="content">
                <img src="{{article.image }}" alt="">
                {{article.content | raw }}
            </div>

            <section id="commentaire">
                {% for comment in article.comments %}
                <div class="commentaire">
                    <div class="row">
                        <div class="col-3">
                            {{ comment.author}}(<small>{{comment.createdAt | date('d/m/Y à H:i')}}</small>)
                        </div>
                        <div class="col">
                            {{comment.content | raw}}
                        </div>
                    </div>
                </div>

                {% endfor %}
            </section>
</article>
<hr>
{% endblock %}